/* 收藏星星顏色控制 */
.star-favorite {
  color: #fbbf24;
  stroke: #fbbf24 !important;
  fill: #fbbf24 !important;
}
.star-outline {
  color: #aaaaaa;
  stroke: #aaaaaa !important;
  fill: none !important;
}
