
/* 收藏星星顏色控制 */
.star-favorite {
  color: #FBBF24;
  stroke: #FBBF24 !important;
  fill: #FBBF24 !important;
}
.star-outline {
  color: #aaaaaa;
  stroke: #aaaaaa !important;
  fill: none !important;
}
